.product-image {
    width: 100vw;
    height: 241pt;
}

.wp {
    background-color: #ffffff;
    width: 100vw;
    height: calc(100vh - 225px);
    position: absolute;
    top: 225px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bottom-wp {
    background-color: rgb(230, 230, 235);
    width: 100%;
    height: 51.5pt;
    position: absolute;
    bottom: 0px;
}

.add-btn {
    background-color: #00aeef;
    width: calc(50% - 30pt);
    height: 37.5pt;
    display: inline-block;
    margin: 8pt 15pt;
    color: #ffffff;
    line-height: 37.5pt;
    text-align: center;
    border-radius: 8px;
    padding: 0px 5px;
    font-size: 14px;
}

.buy-btn {
    background-color: #4cd964;
    width: calc(50% - 30pt);
    height: 37.5pt;
    display: inline-block;
    margin: 8pt 15pt;
    color: #ffffff;
    line-height: 37.5pt;
    text-align: center;
    border-radius: 8px;
    padding: 0px 5px;
    font-size: 14px;
}

// 
.tab {
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    height: 35px;
    line-height: 30px;
    margin: 5px 0px;
    padding-bottom: 5px;
}

.active-tab {
    border-bottom: 2px solid #c6003d;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 5px;
}

.product-en-title {
    font-size: 12px;
    display: block;
    margin: 10px 5px;
}

.product-short-brief {
    font-size: 16px;
    margin: 5px;
}

.hr {
    width: 100%;
    display: block;
    height: 1px;
    background-color: #c7c7c7;
    margin: 15px 0px;
}

.brand-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin: -4px;
    margin-left: 11pt;
}

.order-controller {
    width: 136pt;
    height: 29pt;
    background-color: rgba(230, 230, 235, 1);
    display: inline-block;
    border-radius: 15px;
    float: right;
}

.plus-ctrl {
    display: inline-block;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 4px;
    float: right;
    padding: 5px;
    box-shadow: 0px 1px 3px -1px #4c4c4c;
}

.minus-ctrl {
    display: inline-block;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    margin: 5px 4px;
    float: left;
    padding: 5px;
    box-shadow: 0px 1px 3px -1px #4c4c4c;
}

.order-input {
    display: inline-block;
    height: 36px;
    width: calc(100% - 72px);
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    outline: none;
    border: none;
    background-color: transparent;
}

.tab-content {
    padding: 0px 10px;
}

.ctrl-icon {
    width: 100%;
    display: block;
}

.toman {
    font-size: 60%;
    text-decoration: none;
    display: inline-block;
    margin: 0px 2px;
}

.back {
    width: 26px;
    z-index: 2;
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 4px;
}

.like {
    width: 26px;
    z-index: 2;
    position: absolute;
    right: 15px;
    top: 185px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0px 2px 3px 1px #7b7b7b;
}

.popup {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0px #a5a5a5;
    width: calc(100% - 100px);
    left: 50px;
    text-align: center;
    height: 105px;
    line-height: 105px;
}

.popup h1 {
    font-size: 14px;
    line-height: 105px;
}

.show-popup {
    display: block;
}

.tab-list {
    height: calc(100% - 68px);
    overflow-y: scroll;
}