<div class="header">
  <h1 class="title">پیگیری سفارشات</h1>
  <img src="assets/icons/arrow-left-black.svg" class="back" (click)="back()">
</div>
<div class="board">
  <span class="board-item border-left">
    <span class="order-number">0</span>
    تعداد کل سفارشات
  </span>
  <span class="board-item border-left">
    <span class="order-number">0</span>
    سفارشات قبلی
  </span>
  <span class="board-item">
    <span class="order-number">0</span>
    سفارشات تازه
  </span>
</div>
<div class="orders-box">
  <div class="border-bottom">
    <span class="order-box-title">سفارشات من</span>
    <span class="see-all">مشاهده همه
      <img src="assets/icons/arrow-left-gray.svg" class="all-icon">
    </span>
  </div>
  <div class="order-box-section">
    <div class="one-half">کیف پول
      <img src="assets/icons/arrow-left-gray.svg" class="more">
    </div>
    <div class="one-half">سفارشات در حال انجام
      <img src="assets/icons/arrow-left-gray.svg" class="more">
    </div>
  </div>
  <div class="order-box-section">
    <div class="one-half">ارسال شده ها
      <img src="assets/icons/arrow-left-gray.svg" class="more">
    </div>
    <div class="one-half">سفارشات انجام شده
      <img src="assets/icons/arrow-left-gray.svg" class="more">
    </div>
  </div>
  <div class="one-half" style="
  padding-right: 24px;
">
    پیش سفارش
  </div>
</div>
<div class="services-box">
  <div class="border-bottom">
    <span class="order-box-title">خدمات</span>
  </div>
  <div class="one-third">
    <img src="assets/icons/s1.png" class="service-image">
    <span class="service-name">درباره ما</span>
  </div>
  <div class="one-third">
    <img src="assets/icons/s1.png" class="service-image">
    <span class="service-name">راهنمای خرید</span>
  </div>
  <div class="one-third">
    <img src="assets/icons/s1.png" class="service-image">
    <span class="service-name">آدرس ها</span>
  </div>
</div>