:host {
    background-color: #ededf5;
    display: block;
    width: 100vw;
    height: calc(100vh - 52px);
}

.header {
    height: 64px;
    width: 100%;
    background-color: #ffffff;
    color: #1a1a1a;
}

.title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 64px;
}

.back {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 20px;
    left: 16px;
}