<div class="wp">
    <div class="slider">
        <img src="assets/sample/1.png">
    </div>
    <section class="main">
        <input type="text" class="search-input" placeholder="جستجو...">
        <h1 class="category-title">دسته بندی ها</h1>
        <category-item></category-item>
        <category-item></category-item>
        <category-item></category-item>
        <category-item></category-item>
        <category-item></category-item>
        <category-more-item></category-more-item>
    </section>
</div>