<div class="shadow-wp">

  <div class="finance-detail">
    <div class="section">
      <div class="circle-wp">
        <div class="circle-step-wp" style="margin: auto;">
          <span class="circle-shadow">
            <span class="circle checked">
              <img src="assets/icons/checkmark.svg" class="circle-icon">
            </span>
          </span>
        </div>
      </div>
      <h3 class="main-title">سفارش شما ثبت شد</h3>
    </div>
    <div class="section">
      <h4>نتیجه تامین کننده تا</h4>
      <div class="timer">
        <div class="one-fourth">
          <p class="counter">{{pipeZeroBase(day)}}</p>
          <p class="subtitle">روز</p>
        </div>
        <div class="one-fourth">
          <p class="counter">{{pipeZeroBase(hour)}}</p>

          <p class="subtitle">ساعت</p>
        </div>
        <div class="one-fourth">
          <p class="counter">{{pipeZeroBase(min)}}</p>

          <p class="subtitle">دقیقه</p>
        </div>
        <div class="one-fourth">
          <p class="counter">{{pipeZeroBase(sec)}}</p>

          <p class="subtitle">ثانیه</p>
        </div>
      </div>

    </div>
    <div class="section">
      <h4>به اطلاع شما خواهد رسید</h4>
    </div>
  </div>
  <div class="btn-close">
    بستن و رفتن به صفحه پیگیری سفارشات
  </div>

</div>